@model Coursework.ViewModels.UserManagementAddRoleViewModel

    <html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body class="bodyPad">


    <h3>Add role for the user: @Model.Email</h3>
    <div asp-validation-summary="All"></div>
    <form asp-controller="UserManagement" asp-action="AddRole">
        <input asp-for="UserId" type="hidden" />
        <select asp-for="NewRole" asp-items="Model.Roles"></select>
        <input class="blue-button" style ="width: 10%" type="submit" value="Add Role" />
    </form>


    </body>
</html>
