<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Announcements</title>
</head>
<body class="bodyPad">
    <h2 id="offwhite"> Make an Announcement</h2>
    <div id="announcements">    
        <!--Post Announcement form-->
        <form>
            
            <label>Title </label><br /><input type="text" id="title"/><br /> <br />
            <label>Enter text here </label><br /><input type="text" id="post" /> <br /> <br />
            <button type ="submit">Post</button>
         </form>
    </div>
    <div>
        <!--Previous announcements-->

    </div>
</body>
</html>