<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Aloha</title>
</head>
<body id="home">
    <div>
        <img src="~/images/grocery.jpeg" id="homeImage" />
       
    </div>
</body>    
</html>