<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body class="bodyPad">
    <div class="regPad">
        <div id="announcements">
            <!-- Registration form-->
            <form action="/Home/Register" method="post">
                <label>Email</label><br /><input type="text" name="Email" /> <br /><br />
                <label>Password</label><br /><input type="text" name="FirstName" /> <br /><br />
                <button type="Submit" value="Submit">Login</button>
            </form>
        </div>
    </div>
</body>
</html>