<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body class="bodyPad">
    <div class="regPad">
    <div id="announcements">
        <!-- Registration form-->
        <form action="/Home/Register" method="post">
            <label>Email</label><br /><input type="text" name="Email"/> <br /><br />
            <label>First Name</label><br /><input type="text" name="FirstName" /> <br /><br />
            <label>Last Name</label><br /><input type="text" name="LastName" /> <br /><br />
            <button type ="Submit" value="Submit">Register</button>
        </form>
        </div>
    </div>
</body>
</html>